<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define OssLogon_TargetDir=$(var.OssLogon.TargetDir)?>
	<Product Id="*" Name="OssLogon" Language="1033" Version="2.4" Manufacturer="Helmuth Varkoly" UpgradeCode="7645b28f-5022-4e11-b621-f151c17f17eb">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
<!-- old prodId a2ec030e-f79e-4ce1-beb5-e7f5deef3eea"-->
		<MajorUpgrade   Schedule="afterInstallInitialize"
 DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="OssLogon" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="OssLogon" />
			</Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
   <Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
     <Shortcut Id="ApplicationDesktopShortcut" Name="OssLogon" Description="Domainless connection to OSS" Target="[INSTALLFOLDER]OssLogon.exe" WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\OssLogon" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </DirectoryRef>
  </Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="OssLogon.exe" Guid="57771e2d-a24f-4a0d-bdde-a37a94a788ce">
			  <File Id="OssLogon.exe" Name="OssLogon.exe" Source="$(var.OssLogon_TargetDir)OssLogon.exe" />
			</Component>
			<Component Id="OssLogon.exe.config" Guid="9007e9a6-4eac-4bb8-a51a-61681575b1a1">
			  <File Id="OssLogon.exe.config" Name="OssLogon.exe.config" Source="$(var.OssLogon_TargetDir)OssLogon.exe.config" /> 
			</Component>
			<Component Id="MaterialDesignColors.dll" Guid="df878de4-edad-487a-9e41-6a4eb55a2429">
			  <File Id="MaterialDesignColors.dll" Name="MaterialDesignColors.dll" Source="$(var.OssLogon_TargetDir)MaterialDesignColors.dll" />
			</Component>
			<Component Id="MaterialDesignThemes.Wpf.dll" Guid="7d159250-28f9-4eb3-b467-06123708d8e0">
			  <File Id="MaterialDesignThemes.Wpf.dll" Name="MaterialDesignThemes.Wpf.dll" Source="$(var.OssLogon_TargetDir)MaterialDesignThemes.Wpf.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
